.container {
  display: flex;
  place-items: center;
}

.cartButton {
  display: flex;
  place-items: center;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s ease;

  &:hover {
    color: #0440aa;
  }
}
