@font-face {
  font-family: "FF Mark Pro Thin";
  src: url("./fonts/FF_Mark_Pro-Thin.otf");
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("./fonts/FF_Mark_Pro.otf");
}

@font-face {
  font-family: "FF Mark Pro Medium";
  src: url("./fonts/FF_Mark_Pro-Medium.otf");
}

body {
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

#root {
  text-wrap: pretty;
  font-family: "FF Mark Pro", sans-serif;
  color: #2b2b2b;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  text-wrap: pretty;
}
