.cardContainer {
   box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   width: 100%;
   background-color: var(--color-white);
}

.cardFooter, .cardHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}

.separatorHeader .cardHeader {
   border-bottom: 1px solid var(--color-gray-light);
}

.separatorBody .cardBody{
   border-bottom: 1px solid var(--color-gray-light);
   border-top: 1px solid var(--color-gray-light);
}

.separatorFooter .cardFooter {
   border-top: 1px solid var(--color-gray-light);
}

.cardBody {
   padding: 15px;
   color: var(--color-gray);
   font-size: 16px;
}

.cardTitle {
   color: var(--color-text);
   font-family: "FF Mark Pro";
   font-size: 18px;
   font-weight: 600;
}

.cardToolbar{
   display: flex;
   align-items: center;
   gap: 10px;
   position: relative;
}